[Desktop Entry]
Type=Application
Name=Media Explorer Display Configuration
Exec=guacamayo-displayconf
Icon=tv
Categories=AudioVideo;Video;TV;Player;
Terminal=false
StartupNotify=true
